<% title 'خدمات ما' %>
<section id="our-services">
  <div class="container">
    <div class="row top-row" align="center">
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_01.jpg"), services_engine_diagnostics_path %>
        <h4 class="text">عیب یابی موتور</h4>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_02.jpg"), services_oil_and_filters_path %>
        <h4 class="text middle">تعویض روغن و فیلتر ها</h4>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_03.jpg"), services_belt_and_hoses_path %>
        <h4 class="text">تسمه ها و شلنگ ها</h4>
      </div>
    </div>
    <div class="row bottom-row" align="center">
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_04.jpg"), services_air_conditioning_path %>
        <h4 class="text">سیستم تهویه و شارژ کولر</h4>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_05.jpg"), services_brake_repair_path %>
        <h4 class="text middle">تعمیرات ترمز</h4>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_06.jpg"), services_tire_and_wheel_path %>
        <h4 class="text">سرویس تایرها و چرخ ها</h4>
      </div>
    </div>
    <div class="row bottom-row" align="center">
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_14.jpg"), services_automatic_transmission_path %>
        <h4 class="text">گیربکس اتوماتیک</h4>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_15.jpg"), services_suspention_path %>
        <h4 class="text middle">سیستم تعلیق و فرمان</h4>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("our_services/image_16.jpg"), services_body_painting_path %>
        <h4 class="text">صافکاری و نقاشی</h4>
      </div>
  </div>
</section>