<section id="slider" class="text-center">
  <div class="container">
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	  	<ol class="carousel-indicators">
		  	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  	<li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
	  	</ol>

	  	<div class="carousel-inner">
  	    <div class="item active">
          <!-- <i class="fa fa-headphones fa-5x wow fadeInDown"></i> -->
          <h1 id="mazda-text" class="wow fadeInDown text-center" data-wow-delay="0.2s">ایران مزدا</h1>
          <p class="wow fadeInDown" data-wow-delay="1.0s">ارائه دهنده خدمات تخصصی تعمیرات مزدا</p>
	        <!-- <h1 class="wow fadeInLeftBig">کارشناسان کاربلد، قیمت های رقابتی</h1>
	        <p class="wow fadeInLeftBig" data-wow-delay="0.8s">ما متعهد هستیم تا خدمات شما را در بهترین کیفیت و با بهترین قیمت به شما ارائه دهیم</p> -->
  	    </div>
  	    <div class="item">
          <!-- <i class="fa fa-wrench fa-5x wow fadeInLeftBig"></i> -->
          <h1 class="wow fadeInDown"> خدمات متمایز در سایه مشتری مداری </h1>
          <p class="wow fadeInDown" data-wow-delay="0.8s"> ارائه راهکارهای کاملاْ مهندسی بر مبنای استانداردهای مزدا </p>
  	    </div>
        <div class="item">
          <!-- <i class="fa fa-list-alt fa-5x wow fadeInLeftBig"></i> -->
          <h1 class="wow fadeInDown"> ارائه طرح ها و برنامه های منظم مطابق با نیاز مشتری </h1>
          <p class="wow fadeInDown" data-wow-delay="0.8s"> طرح های زمستانه، استقبال از بهار و طرح های دیگر مطابق با نیاز مشتری </p>
  	    </div>
        <div class="item">
          <h1 class="wow fadeInDown">کارشناسان کاربلد، قیمت های رقابتی</h1>
	        <p class="wow fadeInDown" data-wow-delay="0.8s">ما متعهد هستیم تا خدمات شما را در بهترین کیفیت و با بهترین قیمت به شما ارائه دهیم</p>
  	    </div>
	  	</div>
	  </div>
  </div>
</section>

<section id="why-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5" align="center">
        <h2> چرا ما؟ </h2>
      </div>
      <div class="col-md-8 col-md-offset-2 text-center">
        <p>ما تخصص هر آنچه که خودروی شما نیاز دارد را داریم. سیستم تعلیق؟ گیربکس اتوماتیک؟ موتور؟
          <br />
        کارشناسان ما سال هاست که با مزدا آشنا هستند.</p>
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s" align="center">
        <!-- <img src="assets/customer.svg" alt="customer-relation"> -->
        <%= image_tag 'customer.svg' %>
        <h3>مشتری مداری</h3>
        <hr />
        <p class="wow fadeInDown" data-wow-delay="0.8s">
          همواره همراه شما هستیم. برای وقت شما ارزش قائلیم و به آن احترام می گذاریم.
        </p>
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-delay="0.6s" align="center">
        <!-- <img src="assets/best-price.svg" alt="best-price"> -->
        <%= image_tag 'best-price.svg' %>
        <h3>قیمت مناسب</h3>
        <hr />
        <p class="wow fadeInDown" data-wow-delay="0.8s">
          قیمت های مناسب، مطابق با حجم فعالیت های انجام شده. بهترین قیمت، بهترین خدمات
        </p>
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-delay="0.8s" align="center">
        <!-- <img src="assets/proffessional.svg" alt="proffessional"> -->
        <%= image_tag 'proffessional.svg' %>
        <h3>خدمات حرفه ای</h3>
        <hr />
        <p class="wow fadeInDown" data-wow-delay="0.8s">
          کادر حرفه ای، آگاه و بروز. آشنا با استانداردهای مزدا و اصول و مبانی تعمیرات محصولات مزدا
        </p>
      </div>
    </div>
  </div>
</section>

<section id="vehicle-serviced">
  <div class="row">
    <div class="col-md-6">
      <!-- <img src="assets/vehicle-serviced.jpg" class="img-responsive" alt="Responsive image"> -->
      <%= image_tag 'vehicle-serviced.jpg', class:"img-responsive" %>
    </div>
    <div class="col-md-6" align="center">
      <h2>مدل هایی که ما خدمات می دهیم</h2>
      <hr align="center">
      <p>ما برای خودروهای زیر خدمات ارائه می دهیم:</p>
      <p>ما برای تعمیرات تخصصی مدل های زیر آموزش دیده ایم و گواهینامه های مرتبط را دارا می باشیم:</p>
    </div>
    <div class="col-md-3">
      <ul>
        <ol><i class="fa fa-check fa-lg"></i> Mazda 2</ol>
        <ol><i class="fa fa-check fa-lg"></i> Mazda 3 (1-2-3)</ol>
        <ol><i class="fa fa-check fa-lg"></i> Mazda 323 GLX</ol>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <ol><i class="fa fa-check fa-lg"></i> Mazda 6</ol>
        <ol><i class="fa fa-check fa-lg"></i> Mazda 3 New (1-2-3-4)</ol>
        <ol><i class="fa fa-check fa-lg"></i> Mazda 323-FL(1-2-3-4-5)</ol>
      </ul>
    </div>
  </div>
</section>

<section id="auto-repair-services">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" align="center">
        <h2>خدمات تعمیراتی ما:</h2>
        <hr>
        <p>تمام امور مربوط به تعمیرات خودروی مزدای خود را به ما بسپارید
	      کارشناسان ما از تمام تخصص های مربوط به تعمیرات مزدا مطلع هستند‫.‬ اطلاعات ما بروز است و همواره درحال بروز رسانی استانداردها و مدارک مهندسیمان هستیم</p>
      </div>
      <div class="col-md-12" align="center">
        <div class="col-md-4">
          <div class="container-overlay">
            <!-- <img src="assets/engine-diag.jpg" class="img-responsive image" alt="Responsive image" /> -->
            <%= image_tag 'engine-diag.jpg', class:"img-responsive image" %>
            <div class="overlay">
              <%= link_to "  عیب یابی موتور ", our_services_path, class: "text" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-overlay">
            <!-- <img src="assets/oil-change.jpg" class="img-responsive image" alt="Responsive image" /> -->
            <%= image_tag 'oil-change.jpg', class:"img-responsive image" %>
            <div class="overlay">
              <%= link_to  'تعویض روغن وفیلترها', our_services_path, class: "text" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-overlay">
            <!-- <img src="assets/belt-hose.jpg" class="img-responsive image" alt="Responsive image" /> -->
            <%= image_tag 'belt-hose.jpg', class:"img-responsive image" %>
            <div class="overlay">
              <%= link_to ' تسمه ها و شلنگ ها', our_services_path, class: "text" %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <%= link_to 'تمامی خدمات', our_services_path, class: "all-services" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="what-people-say">
  <div class="container">
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	  	<ol class="carousel-indicators">
		  	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  	<li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
	  	</ol>

	  	<div class="carousel-inner" align="center">
  	    <div class="item active">
          <!-- <img src="assets/good-quality.png" alt="Good quality"  /> -->
          <div class="carousel-caption" align="center">
            <i class="fa fa-quote-left fa-2x pull-left"></i><h4>خدماتی که ارائه می دهند بدون تعارف، خیلی حرفه ای است. کارشناسان خیلی مسلط هستند و با
            مشتری با حوصله برخورد می کنند.</h4><i class="fa fa-quote-right fa-2x pull-right"></i>
            <p>کامران امامی</p>
          </div>
  	    </div>
        <div class="item">
          <!-- <img src="assets/good-quality.png" alt="Good quality"  /> -->
          <div class="carousel-caption">
            <i class="fa fa-quote-left fa-2x pull-left"></i><h4>قیمت های کاملاْ رقابتی دارند. قطعات اصلی و با قیمت
            مناسب می باشند. سر موعد مقرر خودرو را تحویل من دادند.</h4><i class="fa fa-quote-right fa-2x pull-right"></i>
            <p>ابوالفضل خطیب</p>
          </div>
        </div>
        <div class="item">
          <!-- <img src="assets/good-quality.png" alt="Good quality"  /> -->
          <div class="carousel-caption">
            <i class="fa fa-quote-left fa-2x pull-left"></i><h4>از دفتری که برای مهمان تدارک دیده بودند
            خیلی خوشم اومد، سوئیچ رو دادم و دیگه با هیچی کاری نداشتم و سر ساعت خودرومو بهم تحویل دادند
            </h4> <i class="fa fa-quote-right fa-2x pull-right"></i>
            <p>مهیار چمنی</p>
          </div>
  	    </div>
	  </div>
  </div>
</section>

<section id="company-overview">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" align="center">
        <h2>خدمات ما در یک نگاه</h2>
        <hr>
        <p>ما می توانیم در هر موردی در خودروی مزدای شما، از تعویض روغن گرفته تا تعویض موتور
        به شما کمک کنیم.
        رفع هر مشکلی از خودروی مزدای شما تخصص ماست</p>
      </div>
      <div class="col-md-12 services">
        <div class="col-md-4 pull-right exp">
          <h4>سرویس و تعویض روغن</h5>
          <!-- <img src="assets/tools/tool.svg" /> -->
          <%= image_tag 'tools/tool.svg' %>
          <p>
            در این مرکز به کمک مدارک فنی و مهندسی مزدا، روغن مناسب خودروی شما تامین می گردد و
            همچنین با استفاده از روش های بروز، روغن موتور چک شده و زمان دقیق تعویض آن اعلام
            می گردد.
          </p>
        </div>
        <div class="col-md-4 pull-right exp">
          <h4>سرویس سیستم ترمز</h4>
          <!-- <img src="assets/tools/tool-1.svg" /> -->
          <%= image_tag 'tools/tool-1.svg' %>
          <p>
            مطئناْ سلامتی سیستم ترمز خودرو برای شما مهم است. بازدید دوره ای لنت ها و تعویض آن ها در صورت نیاز
            از جمله خدماتی است که در این مرکز به مشتریان گرامی داده می شود.
          </p>
        </div>
        <div class="col-md-4 pull-right exp">
          <h4>تعویض لامپ ها و سرویس چراغ ها</h4>
          <!-- <img src="assets/tools/tool-2.svg" /> -->
          <%= image_tag 'tools/tool-2.svg' %>
          <p>
            تنظیم چراغ های اتومبیل شما، تعویض و یا تعمیر آن ها در صورت نیاز، با وسواس و موشکافی هرچه
            تمام تر در این مرکز صورت می گیرد. نور پایین چراغ ها عامل اصلی بیشتر تصادفات است.
          </p>
        </div>
        <div class="col-md-4 pull-right exp">
          <h4>سیستم برق و باتری</h4>
          <!-- <img src="assets/tools/power.svg" /> -->
          <%= image_tag 'tools/power.svg' %>
          <p>
            در صورت مشاهده آلارم باتری خودروی خود، هرچه سریعتر به این مرکز مراجعه بفرمایید
            تا کارشناسان ما نسبت به برطرف کردن ایراد مربوطه، اقدامات لازم را انجام دهند.
          </p>
        </div>
        <div class="col-md-4 pull-right exp">
          <h4>عیب یابی موتور</h4>
          <!-- <img src="assets/tools/shape.svg" /> -->
          <%= image_tag 'tools/shape.svg' %>
          <p>
            این مرکز با دارا بودن آخرین تجهیزات عیب یابی موتور و با بهره مندی از آخرین بروز رسانی ها،
            ایراد موتور خودروی مزدای شما را در سریع ترین زمان پیدا کرده و رفع می نماید.
          </p>
        </div>
        <div class="col-md-4 pull-right exp">
          <h4>سطح سوخت و مایعات و سیستم تهویه</h4>
          <!-- <img src="assets/tools/tool-3.svg" /> -->
          <%= image_tag 'tools/tool-3.svg' %>
          <p>
            در این مرکز با توجه به نوع خودروی شما، مایعات مناسب خنک کاری و همچنین مقدار و نوع
            گاز مورد نیاز برای مدل متناسب خودروی مزدای شما تجویز می گردد.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="our-mission">
  <div class="container">
    <div class="row">
      <div class="col-md-6 questions">
        <h2>سوالات متداول:</h2>
        <hr>
        <div id="accordion">
          <h3>آیا حتما باید از روغن مخصوص نوع خودرو استفاده شود؟</h3>
          <div>
            <p>
					بله، استفاده از روانكارها و ادتيوها براي خودرو بسيار حائز اهميت ميباشد
معمولاً هر خودرو در زمان تحويل از كمپاني حاوي دفترچه راهنماي مشتري بوده كه تمامي بازرسي هاي خودرو زمان و نوع ادتيوها در آن مشخص ميباشد از اينرو ميتوان آنرا بهترين منبع در اين خصوص دانست معمولاً با توجه به دقت ماشينكاري و تلورانس ها همينطور منطقه اقليمي گريد ادتيوها همينطور ميزان مصرف آن مشخص ميگردد
اين مركز با پشتوانه مهندسي قوي تخصصي ترين نوع ادتيوها را دقيقاً مطابق با پيشنهاد مزدا در اختيار مشتريان قرار داده تا در طولاني كردن طول عمر خودرو همراه مشتريان عزيز باشد
            </p>
          </div>
          <h3>آیا مرکز شما بعد از تعمیرات، خودرو را گارانتی می کند؟</h3>
          <div>
            <p>
            بله، این مرکز با پشتیبانی از پرسنل کار آزموده، جوان و کاربلد، با اطمینان کامل از کیفیت خدمات انجام داده بر روی خودروی شما، با توجه به نوع خدمات و قطعات استفاده شده، آن را گارانتی می نماید.
            </p>
          </div>
          <h3>چرا نمی تونم از ضد یخ معمولی برای خودروی مزدا ۳ خودم استفاده کنم؟</h3>
          <div>
            <p>
            همانطور که در قسمت مربوط به استفاده از روانکارها توضیح داده شد، استفاده از مایعات خنک کاری استاندارد، 
				مطابق نوع خودرو شما از اهمیت ویژه ای برخوردار است. لذا توجه گردد که از هر نوع مایع خنک کننده نمی توان برای خودرو خود استفاده کرد.   
            </p>
          </div>
          <h3>آیا مرکز شما تعمیرات گیربکس اتوماتیک رو هم انجام میده؟</h3>
          <div>
            <p>
				بله، متخصصين اين مجموعه از افراد آموزش ديده و با تجربه بوده به طوري كه در اين مجموعه عيب خودرو به سرعت و به درستي تشخيص داده شده و فارغ از هرگونه فرآيند سعي و خطا مطابق با دستورالعمل هاي تعميراتي (work shop manual) مزدا انجام شده كه ماحصل آن رفع عيب به درسترين شكل در كمترين زمان ممكن با هزينه پايين مي باشد. حتي سعي شده است تعميرات سنگين نظير تعمير موتور و گيربكس اتوماتيك به حالت سيستمي و منظم انجام گرفته تا زمان خواب خودرو به حداقل زمان ممكن كاهش يابد. 
				اين مركز ركوردار در تعمير گيربكس اتوماتيك در كمتر از يك روز از زمان پذيرش تا ترخيص خودرو و همچنين تعمير اساسي موتور با احتساب زمان تراشكاري در چهار روز مي باشد.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mission">
        <h2>ماموریت ما</h2>
        <hr>
        <h3>شعار ما:</h3>
        <h4>سرویس سریع در زندگی شلوغ امروزی</h4>
        <h4>ما همیشه بهترین ها را پیشنهاد می دهیم. خودروی شما نزد ما امانت است.</h4>
        <p>
          ماموریت ما انجام هرچه بهتر خدمات است.
          مجموعه ما سعی می کند در اسرع وقت ایراد خودرو شما را یافته
          و نسبت به رفع آن اقدام نماید.
          <br />
           ما می دانیم در زندگی شلوغ امروز ایجاد وقت با چه مشکلاتی همراه است. به همین دلیل
          خود را متعهد می دانیم که خودروی شما را در کوتاه ترین زمان تحویل دهیم.
        </p>
        <%= link_to 'بیشتر بخوانید', about_us_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</section>




<script src="js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

<script>
  $(".carousel").carousel({
     interval: 4000
  });
</script>

<script>
  $( function() {
    $( "#accordion" ).accordion();
  });
</script>
