<% title 'تماس با ما' %>
<section id="contact-us">
  <!-- <div class="path"></div> -->
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d680.6900144011267!2d51.28843810275386!3d35.75263257990177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfda5c068ff91%3A0x59335f219126107e!2z2KfZitix2KfZhiDZhdiy2K_YpyDZog!5e0!3m2!1sen!2suk!4v1544896693639" 
      width="1425" height="400" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-part1">
        <div class="col-md-4">
          <i class="fa fa-map-o fa-3x"></i>
          <h4>آدرس ما</h4>
          <h5>شعبه ۲: همت غرب به شرق، خروجی میدان الغدیر (شهر زیبا)، مجتمع ققنوس، درب شماره ۱، خدمات تخصصی ایران مزدا</h5>
        </div>
        <div class="col-md-4">
          
          <i class="fa fa-phone fa-3x"></i>
          <h4>همین الان تماس بگیرید</h4>
          <ul> 
            <li>موبایل: 301 90 90 0910</li>
            <li>مشاوره: 301 90 90 0910</li>
            <li>تلفن: 31 98 89 44 (021)</li>
          </ul>
        </div>
        <div class="col-md-4">
          
          <i class="fa fa-tachometer fa-3x"></i>
          <h4>خدمات سریع و بی وقفه<h4>
          <h5>هر روز هفته، به جز جمعه ها. در دسترس و موقعیت مکانی مناسب. محیطی راحت و همراه با پذیرایی از مشتریان عزیز</h5>
        </div>
      </div>

      

      <%= form_for @contact do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :name, placeholder: "نام و نام خانوادگی*", required: true, class:"form-control"  %>
          </div>
          <div class="form-group">
            <%= f.telephone_field :tel, placeholder: "شماره موبایل*", required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.text_field :email, type: "email", placeholder: "ایمیل*", required: true, class:'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_area :message, placeholder: "پیام شما*", required: true, class:'form-control text-area' %>
          </div>
          <div class="form-group">
            <%= f.button 'ارسال پیام',  class:'btn btn-success', data:{ disable_with: "<i class: 'fa fa-spinner fa-spin'>در حال ارسال...</i>" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>